<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label for="person_firstname">First Name</label>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <label for="person_lastname">Last Name</label>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <h3>Household</h3>

  <div id="selectHouseholdModal" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
  </div>

    <div class="field">
      <div id="select_household_message" class="field">
          You must select a household to associate this person with.  If this is the first visit from a household, you can create a new one.<br />
      </div>
      <button type="button" id="select_or_create_household_button" onclick="$('#selectHouseholdModal')
        .foundation('reveal',
        'open',
        {url: '<%= households_path  %>',
          data: {ajax: true},
          complete: function(xhr, status) {
            $('#selectHouseholdModal')
              .append('<a class=\'close-reveal-modal\'>&#215;</a>');
            } });" class="tiny button" >Select or Create Household</button>
      </div>
  <div id="household_div" class="row"></div>
  <div>
  <h3>Allow User to Login</h3>
  <div>Do you want to allow this user to login as a volunteer?
            <%= radio_button_tag(:create_user, :yes, !!@person.user)  %><label for="create_user_yes">Yes</label>
            <%= radio_button_tag(:create_user, :no, !@person.user) %><label for="create_user_no">No</label>
  </div>
  <div id="user_info" style="<%= 'display:none;' if not @person.user %>" >
          <strong>Select one or more roles for the user</strong>
          <div class="12-small columns">
                <% @roles.each do |role| %>
                   <div>
                     <input id="role_checkbox_<%= role.id %>" <%= ' checked="checked" ' if @selected_roles.include?(role)  %>type="checkbox" name="roles[]" value="<%= role.id %>" /><label for="role_checkbox_<%= role.id %>"><%= role.name %></label>
                   </div>
                <% end %>
          </div>
  </div>
  <div class="field">
    <%= f.submit class: 'button' %>
  </div>
  <% if (@household) %>
    <script>selectHousehold(this, '<%= household_url(@household) %>');</script>
  <% end %>
<% end %>
<script>
    $(document).ready(function() {
        $('input[type=radio][name=create_user]').change(function() {
            if (this.value == 'yes') {
                $('#user_info').show();
            }
            else if (this.value == 'no') {
                $('#user_info').hide();
            }
        });
    });
</script>
