<%= form_for(@person, :html => {:name => 'new_person'}) do |f| %>
    <% if @is_user %>
        <h5>Want to edit user attributes? Go to the <a href="<%= edit_user_url(@person.user) %>">edit user</a> page.</h5>
    <% end %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div style="color: red;">* denotes required field</div>
    <div class="field">
      <label class="required" for="person_firstname">First Name</label>
      <%= f.text_field :firstname, :required => true %>
    </div>
    <div class="field">
      <label class="required" for="person_lastname">Last Name</label>
      <%= f.text_field :lastname, :required => true %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <% if @is_user %>
          User e-mail must be edited from the <a href="<%= edit_user_path(@person.user) %>">edit user</a> page.
      <% end %>
      <%= f.email_field :email, :disabled => @is_user %>
    </div>
    <div class="phone_field">
      <div class="phone_left">
        <span><%= f.label :phone %></span>
        <span><%= f.text_field :phone %></span>
      </div>
      <div class="phone_right">
        <span><%= f.label :phone_ext %></span>
        <span><%= f.text_field :phone_ext %></span>
      </div>
    </div>
    <h3>Household</h3>
    <div id="selectHouseholdModal" class="reveal-modal" data-reveal>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div class="field">
      <div id="select_household_message" class="field <%= 'hide' if @person.household %>">
        You must select a household to associate this person with. If this is the first visit from a household, you can create a new one.<br/>
      </div>
      <button type="button" id="select_or_create_household_button" onclick="$('#selectHouseholdModal')
          .foundation('reveal',
          'open',
          {url: '<%= select_households_url  %>',
              data: {ajax: true},
              complete: function(xhr, status) {
                  $('#selectHouseholdModal')
                      .append('<a class=\'close-reveal-modal\'>&#215;</a>');

            } });" class="medium button" >Select or Create Household</button>
      </div>
    <div id="household_div" class="row">
      <%=
        if @person.household
          @household = @person.household
          if @person.household.new_record?
            render 'household/new'
          else
            render 'household/show'
          end
        end
      %>
    </div>
    <h3>Allow User to Login</h3>
    <div>Do you want to allow this user to login as a volunteer?
      <%= radio_button_tag(:create_user, :yes, (!!@person.user || params[:create_user] == 'yes')) %><label for="create_user_yes">Yes</label>
      <%= radio_button_tag(:create_user, :no, (!@person.user && params[:create_user] != 'yes')) %><label for="create_user_no">No</label>
    </div>
    <% if redirect_to_url %>
        <input type="hidden" name="redirect_to_url" value="<%= redirect_to_url %>"/>
    <% end %>

    <h3>Notes</h3>
    <% @person.notes.each do |n| %>
        <div class="row note">
          <div class="small-12 columns">
            <%= f.fields_for :notes, n do |nf| %>
                <%= nf.collection_select :note_type_id, NoteType.all, :id, :name %>
                <%= nf.text_area :note %>
                <%= nf.check_box :_destroy, class: "delete-note-checkbox" %>
                <%= nf.label :_destroy, "Delete Note" %>
            <% end %>
          </div>
        </div>
    <% end %>

    <h4>New Note</h4>
    <div class="row space-above space-bottom">
      <div class="small-12 columns new-note">
        <%= f.fields_for :notes, @person.notes.build do |nf| %>
            <%= nf.collection_select :note_type_id, NoteType.all, :id, :name %>
            <%= nf.text_area :note %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="field left">
          <%= f.submit class: 'medium button' %>
        </div>
        <div class="right">
          <button class="medium button" onclick="window.location='<%= redirect_to_url ? redirect_to_url : people_url %>';">
            Cancel
          </button>
        </div>
      </div>
    </div>

<% end %>
<script>
  var validator = new FormValidator('new_person', [{
    name: 'person[firstname]',
    display: 'First Name',
    rules: 'required'
  }, {
    name: 'person[lastname]',
    display: 'Last Name',
    rules: 'required'
  }], function (errors, event) {
    if (errors.length > 0) {
      event.preventDefault();
      var errorString = '';

      for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
        errorString += errors[i].message + '<br />';
        var thisInput = $('input[name="' + errors[i].name + '"]')
        var thisId = $(thisInput).attr('id');
        $(thisInput).addClass('error');
        $('label[for="' + thisId + '"]').addClass('error');
      }
      $('#new_person').prepend('<div class="alert-box alert" id="new_person_box">' + errorString + '</div>');
      $('html, body').animate({
        scrollTop: $('#new_person_box').offset().top
      }, 1000);
    }
  });
</script>
