<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
       <div class="small-12 columns">
          <label for="person_firstname">First Name</label>
       </div>
       <div class="small-12 columns">
          <%= f.text_field :firstname %>
       </div>
  </div>
  <div class="field">
    <div class="small-12 columns">
        <label for="person_lastname">Last Name</label>
    </div>
    <div class="small-12 columns">
        <%= f.text_field :lastname %>
    </div>
  </div>
  <div class="field">
    <div class="small-12 columns">
        <%= f.label :phone %>
    </div>
    <div class="small-12 columns">
      <%= f.text_field :phone %>
    </div>
  </div>
  <div class="small-12 columns"><h3>Household</h3></div>

  <div id="selectHouseholdModal" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div class="row">
    <div class="field">
      <div class="small-12 columns">
          <div id="select_household_message" class="field">
              You must select a household to associate this person with.  If this is the first visit from a household, you can create a new one.<br />
          </div>
          <button type="button" id="select_or_create_household_button" onclick="$('#selectHouseholdModal')
                  .foundation('reveal',
                  'open',
                  {url: '<%= households_path  %>',
                          data: {ajax: true},
                          complete: function(xhr, status) {
                                  $('#selectHouseholdModal')
                                          .append('<a class=\'close-reveal-modal\'>&#215;</a>');
                                  } });" class="tiny" >Select or Create Household</button>

      </div>
    </div>
  </div>
  <div id="household_div" class="row"></div>
  <div class="row">
      <div class="small-12 columns">
        <%= f.submit class: 'button' %>
      </div>
  </div>
<% end %>
