<div id="selectHouseholdModal" class="reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
<%= form_for(@new_person) do |f| %>
  <% if @new_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @new_person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="small-12 columns"><h3>New Person Details</h3></div>
  <div class="field">
       <div class="small-12 columns">
          <label for="person_firstname">First Name</label>
       </div>
       <div class="small-12 columns">
          <%= f.text_field :firstname %>
       </div>
  </div>
  <div class="field">
    <div class="small-12 columns">
        <label for="person_lastname">Last Name</label>
    </div>
    <div class="small-12 columns">
        <%= f.text_field :lastname %>
    </div>
  </div>
  <div class="field">
    <div class="small-12 columns">
        <%= f.label :phone %>
    </div>
    <div class="small-12 columns">
      <%= f.text_field :phone %>
    </div>
  </div>
  <div class="small-12 columns"><h3>Household</h3></div>
  <div class="field">
    <div id="select_household">
      <span id="household_summary"><i>None, you must select or create a household</i></span>
      <button type="button" onclick="$('#selectHouseholdModal')
                                .foundation('reveal',
                                            'open',
                                            {url: '<%= household_index_path %>',
                                             data: {ajax: true},
                                             complete: function(xhr, status) {
                                                      $('#selectHouseholdModal')
                                                              .append('<a class=\'close-reveal-modal\'>&#215;</a>');
                                             } });" class="tiny" >Select or Create Household</button>
    </div>
    <%= form_for(@new_household) do |h| %>
        <div class="field">
          <div class="small-12 columns">
            <label for="person_lastname">Last Name</label>
          </div>
          <div class="small-12 columns">
            <%= h.fields_for :address do |a| %>
            <% end %>
          </div>
        </div>
        <input type="hidden" id="person_household_id" name="person[household_id]" value="" />
        <input type="hidden" id="new_person_household" name="person[household_id]" value="false" />
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
