<div id="selectHouseholdModal" class="reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
<%= form_for(@new_person) do |f| %>
  <% if @new_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @new_person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="person_firstname">First Name</label><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <label for="person_lastname">Last Name</label><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <label for="person_household">Household</label><br />
    <div id="select_household">
      <span id="household_summary"><i>None, you must select or create a household</i></span>
      <button type="button" onclick="$('#selectHouseholdModal')
                                .foundation('reveal',
                                            'open',
                                            {url: '<%= household_index_path %>',
                                             data: {ajax: true},
                                             complete: function(xhr, status) {
                                                      $('#selectHouseholdModal')
                                                              .append('<a class=\'close-reveal-modal\'>&#215;</a>');
                                             } });" class="tiny" >Select or Create Household</button>
    </div>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
