<div style="margin-top:20px;" class="row">
  <div class="small-12 medium-9 large-8 columns small-centered">
    <div class="searchbox">
      <div id="searcharea">
        <%= form_tag '/people/new' do %>
            <%= render 'form_page_title' %>

            <div class="row">
              <div class="large-12 columns">
                <input id="search" autocomplete="off" onkeyup="<%= render 'onkeyup_search' %>"
                       type="text"
                       size="30"
                       name="search"
                       placeholder="Firstname Lastname"
                       value="<%= @search_string %>"/>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <div>
                  <%= submit_tag nil, class: 'small hide', id: 'newperson' %>
                </div>
              </div>
              <div id="results" class="large-12 columns">
                <%= render "people/search_results" %>
              </div>
            </div>
            <% end %>
        </div>
  </div>
</div>

