<div class="row">
  <div class="large-8 radius large-centered columns grey">
    <div class="row title dark-grey">
      <div class="large-12 columns">
          <%= @person.fullname %>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <div class="small-12 columns">
          <%= @person.household.address.line1 %>
        </div>
        <div class="small-12 colums">
            <%= @person.household.address.line2 unless @person.household.address.line2.blank? %>
        </div>
        <div class="small-12 columns">
          <%= @person.household.address.city_state_zip %>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="small-12 columns">
          <%= @person.phone %>
        </div>
        <div class="small-12 columns">
          <%= @person.email %>
        </div>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row space-above">
  <div class="large-8 radius large-centered columns yellow">
    <div class="row title">
      <div class="large-12 columns">
        <p>Household Information</p>
      </div>
    </div>
    <div class="row">
      <%= render :partial => '/household/show' %>
    </div>
  </div>
</div>


<div class="row space-above collapse">
  <div class="large-8 radius large-centered columns">
    <%= link_to 'Edit', edit_person_path(@person), :class => 'button tiny' %>

    <%= link_to 'New Visit', new_visit_path(:person_id => @person, :host_id => current_user.id), :class => 'button tiny' %>
    </div>
</div>



