<br />
<div class="row">
  <div class="large-8 radius large-centered columns grey">
    <div class="row title dark-grey">
      <div class="large-12 columns">
        <p><%= @person.fullname %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>
          <strong>Address</strong><br/>
          <% if @person.household and @person.household.address %>
              <%= @person.household.address.line1 %><br/>
              <% if !@person.household.address.line2.empty? %>
                  <%= @person.household.address.line2 %><br/>
              <% end %>
              <%= @person.household.address.city_state_zip %>
              <% else %>
          <i>No address on file</i>
          <% end %>
        </p>
      </div>
      <div class="small-12 columns">
        <p>
          <strong>Phone</strong><br/>
          <% if @person.phone %>
            <%=  number_to_phone(@person.phone, area_code: true, extension: @person.phone_ext) %>
          <% else %>
            <i>No phone on file</i>
          <% end %>
        </p>
      </div>
      <div class="small-12 columns">
        <p>
          <strong>Email</strong><br/>
          <%= @person.email %><% if @person.has_pending_email_change? %><i> (Pending change to: <%= @person.user.pending_email %>)</i><% end %>
        </p>
      </div>
      <% if @person.user %>
          <div class="small-12 columns">
            <p>
              <strong>User Roles</strong><br/>
              <% @roles.each do |role| %>
                  <% if @person.user.roles.include?(role) %>
                      &#10003; <%= role.name %>
                  <% else %>
                      <span class="grey">&#10007; <%= role.name %></span>
                  <% end %>
                  <br/>
              <% end %>
            </p>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row space-above">
  <div class="large-8 radius large-centered columns yellow">
    <div class="row title">
      <div class="large-12 columns">
        <p>Household Information</p>
      </div>
    </div>
    <div class="row">
      <% if @person.household %>
          <%= render :partial => '/household/show' %>
      <% else %>
         <div class="large-12 columns"><i>No household information</i></div>
      <% end %>
    </div>
  </div>
</div>


<div class="row space-above collapse">
  <div class="large-8 radius large-centered columns">
    <%= link_to('Edit', edit_person_path(@person), :class => 'button medium') if current_user and current_user.has_access?(PERM_RW_PERSON) %>

    <%= link_to 'New Visit', new_visit_path(:person_id => @person, :host_id => current_user.person.id), :class => 'button medium' %>
  </div>
</div>



