<%= javascript_tag do %>
    window.workSchedules = [
    <% @work_schedules.each do |work_schedule| %>
        {title: '<%= work_schedule.user.person.fullname %>',
        start: '<%= work_schedule.start_at.iso8601 %>',
        end: '<%= work_schedule.end_at.iso8601 %>',
        url: '<%= url_for work_schedule %>'},
    <% end %>
    ];
<% end %>
<div class="row">
  <div style="width:400px;">
    <div style="float: left; width: 130px">
      <div style="padding-top:10px; clear: both;"><a class="button tiny" href="<%= new_work_schedule_path %>">New Schedule</a></div>
    </div>
  </div>
  <div id="calendar" style="clear: left;"></div>
</div>