<div>
  <div id="household_results" class="results <% if @households.length == 0 %>hide<% end %>">
    <ul data-dropdown-content>
      <% @households.each_with_index do |household, index|
        rowclass = 'oddrow '
        rowclass = 'evenrow ' if index % 2 == 0
        rowclass += 'last-element' if index == @households.length - 1
      %>

      <li
       <% if defined? person_select != nil %>
        onclick="selectHousehold(this, '<%= household_url(household) %>');"
       <% else %>
        onclick="window.location = '<%= url_for household_path(household) %>';"
       <% end %>
      class="<%= rowclass %>">
          <div><%= household.summary %></div>
          <input type="hidden" name="household_summary" value="<%= household.summary %>" />
          <input type="hidden" name="household_id" value="<%= household.id %>" />
      </li>
      <% end %>
    </ul>
  </div>
</div>