<div>
  <div id="household_results" class="<% if @households.length == 0 %>hide<% end %>">
    <table>
      <% @households.each_with_index do |household, index|
        rowclass = 'oddrow '
        rowclass = 'evenrow ' if index % 2 == 0
        rowclass += 'last-element' if index == @households.length - 1
      %>
      <tr onclick="selectHousehold(this, '<%= household_url(household) %>');" class="<%= rowclass %>">
        <td>
          <%= household.summary %>
          <input type="hidden" name="household_summary" value="<%= household.summary %>" />
          <input type="hidden" name="household_id" value="<%= household.id %>" />
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>