<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @people.where(id: @visit.person_id).to_a.first.fullname %>
</p>

<p>
  <strong>Host:</strong>
  <%= @users.where(id: @visit.host_id).to_a.first.name %>
</p>

<p>
  <strong>Visit Date:</strong>
  <%= @visit.visit_date %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
