<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<%= javascript_include_tag "ion.rangeSlider.min" %>
<%= stylesheet_link_tag "ionRangeSlider" %>
<%= stylesheet_link_tag "ionRangeSliderSkinHTML5" %>
<%= javascript_tag do %>
    window.availableTags = [
    <% @people.each do |person| %>
        { label: '<%= person.fullname %>', value: '<%= person.id %>'},
    <% end %>
    ];
<% end %>

<%= form_for(@work_schedule) do |f| %>
    <div class="field">
      <%= f.label :Staff %> <br>

      <div class="ui-widget" id="person_div">
        <input id="person"><br/>
        <input name="person_id" id="person_id" value="" type="hidden"/>
        <span id="person_error" hidden="true">Please enter valid staff name</span>
      </div>
    </div>
    <div class="field">
      <%= f.label :date %> <br>
      <input id="date" class="time-select" type="date" value="<%= @work_schedule.start_at.to_date %>">
    </div>
    <%= f.label :time %> <br/>
    <input type="text" id="time-slider"/><br/>
    <%= f.hidden_field :start_at, {:value => @work_schedule.start_at} %>
    <%= f.hidden_field :end_at, {:value => @work_schedule.end_at} %>
    <div class="field">
      <%= f.label :notes %> <br>
      <%= f.text_field :note, :value => @work_schedule.note %>
    </div>
    <div class="actions">
      <%= submit_tag('Schedule', class: 'button tiny', id: 'submit') %>
    </div>
<% end %>
</div>