<% @selected_user = @work_schedule.user_id ? @users.find(@work_schedule.user_id) : nil %>

<%= javascript_tag do %>
    window.availableTags = [
    <% @users.each do |user| %>
        { label: '<%= deduplicate_user(user) %>', value: '<%= user.id %>'},
    <% end %>
    ];
    window.start_time = <%= @work_schedule.start_at.hour * 60 + @work_schedule.start_at.min %>;
    <%# If ending at midnight (which is the 'next' day), then set the slider all the way to the right. Otherwise calculate it like normal. %>
    window.end_time = <%= @work_schedule.end_at.to_date > @work_schedule.start_at.to_date ? 1440 : @work_schedule.end_at.hour * 60 + @work_schedule.end_at.min %>;
<% end %>

<%= form_for(@work_schedule) do |f| %>
    <div class="field">
      <%= f.label :Staff %> <br>

      <div class="ui-widget" id="user_div">
        <input id="user" value="<%= @selected_user ? @selected_user.person.fullname : nil %>"><br/>
        <input name="user_id" id="user_id" value="<%= @selected_user ? @work_schedule.user_id : nil %>" type="hidden"/>
        <label id="user_error" class="error invisible">Please enter a valid name</label>
      </div>
    </div>
    <div class="field small-6 medium-4 large-2">
      <%= f.label :date %> <br/>
      <input id="date" class="time-select" type="text" value="<%= @work_schedule.start_at.strftime('%m/%d/%Y') %>">
    </div>
    <div class="field">
      <%= f.label :time %> <br/>
      <input type="text" id="time-slider"/>
      <%= f.hidden_field :start_at, {:value => @work_schedule.start_at} %>
      <%= f.hidden_field :end_at, {:value => @work_schedule.end_at} %>
    </div>
    <div class="field">
      <%= f.label :notes %> <br>
      <%= f.text_area :note, :value => @work_schedule.note %>
    </div>
    <div class="actions">
      <div class="left">
        <%= @selected_user ? f.submit(:Update, class: 'button tiny') : f.submit(:Schedule, class: 'button tiny') %>
        <%= link_to :Cancel, {controller: :calendar}, {:class => 'button tiny'} %>
      </div>
      <div class="right">
        <%= @selected_user ? link_to('Delete', @work_schedule, {:method => :delete, :class => 'button tiny'}) : nil %>
      </div>
    </div>
<% end %>