<% @selected_person = @work_schedule.staff_id ? @people.find(@work_schedule.staff_id) : nil %>

<%= javascript_tag do %>
    window.availableTags = [
    <% @people.each do |person| %>
        { label: '<%= person.fullname %>', value: '<%= person.id %>'},
    <% end %>
    ];
    window.start_time = <%= @selected_person ? (@work_schedule.start_at.hour * 60) + @work_schedule.start_at.min : 480 %>;
    window.end_time = <%= @selected_person ? (@work_schedule.end_at.hour * 60) + @work_schedule.end_at.min : 960 %>;
<% end %>

<%= form_for(@work_schedule) do |f| %>
    <div class="field">
      <%= f.label :Staff %> <br>

      <div class="ui-widget" id="person_div">
        <input id="person" value="<%= @selected_person ? @selected_person.fullname : nil %>"><br/>
        <input name="person_id" id="person_id" value="<%= @selected_person ? @work_schedule.staff_id : nil %>" type="hidden"/>
        <span id="person_error" hidden="true">Please enter valid staff name</span>
      </div>
    </div>
    <div class="field small-6 medium-4 large-2">
      <%= f.label :date %> <br/>
      <input id="date" class="time-select" type="text" value="<%= @work_schedule.start_at.strftime('%m/%d/%Y') %>">
    </div>
    <div class="field">
      <%= f.label :time %> <br/>
      <input type="text" id="time-slider"/>
      <%= f.hidden_field :start_at, {:value => @work_schedule.start_at} %>
      <%= f.hidden_field :end_at, {:value => @work_schedule.end_at} %>
    </div>
    <div class="field">
      <%= f.label :notes %> <br>
      <%= f.text_area :note, :value => @work_schedule.note %>
    </div>
    <div class="actions">
      <div class="left">
        <%= @selected_person ? f.submit(:Update, :class => 'button tiny') : f.submit(:Schedule, class: 'button tiny') %>
        <button class="button tiny" onclick="window.history.back()">Cancel</button>
      </div>
      <div class="right">
        <%= @selected_person ? link_to('Delete', @work_schedule, {:method => :delete, :class => 'button tiny'}) : nil %>
      </div>
    </div>
<% end %>