<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<%= javascript_tag do %>
    window.availableTags = [
    <% @people.each do |person| %>
        { label: '<%= person.fullname %>', value: '<%= person.id %>'},
    <% end %>
    ];
<% end %>

<%= form_for(@work_schedule) do |f| %>
    <div class="field">
      <%= f.label :Staff %> <br>

      <div class="ui-widget" id="person_div">
        <input id="person">
        <input name="person_id" id="person_id" value="" type="hidden"/>
      </div>
    </div>
    <div class="field">
      <%= f.label :date %> <br>
      <%= f.date_field :start_at, {class: "time-select", :value => @work_schedule.start_at.to_date} %>
    </div>
    <%= f.label :start_time %> <br>
    <%= f.time_select :start_at, {ampm: true, minute_step: 5},
                      {class: "time-select", :value => @work_schedule.start_at} %>
    <%= f.label :end_time %> <br>
    <%= f.time_select :end_at, {ampm: true, minute_step: 5},
                      {class: "time-select", :value => @work_schedule.end_at} %>
    <div class="field">
      <%= f.label :notes %> <br>
      <%= f.text_field :note, :value => @work_schedule.note %>
    </div>
    <div class="actions">
      <%= submit_tag("Schedule", class: "button tiny", id: "submit") %>
    </div>
<% end %>
</div>