
<h1>Schedule</h1>
<p>Welcome to the work schedule</p>
<table>
  <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
  </thead>
  <tbody>
    <% @work_schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.person.fullname %></td>
      <td><%= schedule.start_at.to_date %></td>
      <td><%= schedule.end_at.to_date %></td>
      <td><%= schedule.note %></td>
      <td><%= button_to "Edit",
                        {:controller => :work_schedule, :action => 'show', :id => schedule.id },
                        :method => :get, class: "button tiny"%></td>
      <td><%= button_to "Delete",
                        {:controller => :work_schedule, :action => 'destroy', :id => schedule.id },
                        :method => :delete, class: "button tiny"%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div style="padding-top:10px">
  <a class="button small" href="<%= new_work_schedule_path %>">New Schedule</a>
</div>
