<%= form_for(@local_resource) do |f| %>
    <% if @local_resource.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@local_resource.errors.count, 'error') %> prohibited this local_resource from being
            saved:</h2>

          <ul>
            <% @local_resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div style="color: red;">* denotes required field</div>
    <div class="field">
      <%= f.label :business_name %><br>
      <%= f.text_field :business_name %>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <%= f.label :address %><br>
    <%= f.fields_for :address, @address do |a| %>
        <div class="field">
          <%= a.label :line1, 'Address Line 1' %>
          <%= a.text_field :line1 %>
        </div>
        <div class="field">
         <%= a.label :line2, 'Address Line 2' %>
          <%= a.text_field :line2 %>
        </div>
        <div class="field">
          <%= a.label :city %>
          <%= a.text_field :city %>
        </div>
        <div class="field">
          <%= a.label :state %>
          <%= a.collection_select :state, State.all, :id, :name, {:selected => @state_id } %>
        </div>
        <div class="field">
          <%= a.label :zip, 'Zipcode' %>
          <%= a.text_field :zip %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :categories, class: :required %><br>
      <%= f.collection_check_boxes :local_resource_categories, LocalResourceCategory.all, :id, :name, {:checked => @local_resource_categories} %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
