<br/>
<div class="row large-centered space-bottom">
  <div class="large-8 large-centered columns">
    <a class="button medium" href="<%= new_local_resource_path %>">New Local Resource</a>
  </div>
</div>
<%= form_tag search_local_resources_path do %>
  <div class="row">
    <div class="large-8 large-centered columns small-12">
      <input id="search" autocomplete="off" onkeyup="App.Local_Resources.updateLocalResourceSearch(this);"
             type="text"
             size="30"
             name="search[term]"
             placeholder="Business Name"
             value="<%= @search_string %>"/>
    </div>
  </div>
  <div class="row">
    <div class="large-8 large-centered columns small-12">
      <%= collection_check_boxes :search, :local_resource_categories, LocalResourceCategory.all, :id, :name, {}, {checked: "checked"} %>
    </div>
  </div>
<% end %>
<div id="results" class="large-12 columns">
  <%= render "local_resources/search_results" %>
</div>