<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="user_name">Name</label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label for="user_email">Email</label>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <div class="left">
        <%= f.submit 'Save', :class => 'button tiny' %>
        <button type="button" class="button tiny" onclick="window.location='<%= @back_url %>';">Cancel</button>
    </div>
    <% if @user.id? %>
        <div class="right">
            <%= button_to "Delete", {:controller => :users,
                                   :action => 'destroy', :id => @user.id },
                                   :method => :delete,
                                   :class => "button tiny",
                                   :onclick => "confirm('Are you sure you want to delete this user?');" %>
        </div>
    <% end %>
  </div>
<% end %>