<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
    <div class="field">
      <%= f.label :password, "Password (Optional, leave blank to remain unchanged)" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off" %>
    </div>
  <div class="actions">
    <div class="left">
        <%= f.submit 'Update User', :class => 'button tiny' %>
    </div>
<% end %>