<%= form_for(@inventory_stock_record) do |f| %>
  <% if @inventory_stock_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_stock_record.errors.count, "error") %> prohibited this inventory_stock_record from being saved:</h2>

      <ul>
      <% @inventory_stock_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :itemid %><br>
    <%= f.number_field :itemid %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :received %><br>
    <%= f.date_select :received %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
