<div class="row">
  <div class="small-12 medium-6 medium-centered columns">
    <h1 class="text-center">Admin Setup Page</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 medium-centered columns">
    <span>You must set an email address and password for the administrator account before you can use the app.</span>
  </div>
</div>
<div class="row space-above">
  <div class="small-12 medium-6 medium-centered columns">
    <%= form_for(@user) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <%= f.label :email, 'Confirm Email' %>
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <%= f.label :password, 'Password' %>
          <%= f.password_field :password, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, 'Confirm Password' %>
          <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit 'Complete Setup', :class => 'button medium' %>
    <% end %>
  </div>
</div>